.zmg_clear {
    clear: both;
}

.zmg_download {
    padding-top: 0.25em;
    clear: both;
    margin-top: 1em;
}

.zmg_download img {
    vertical-align: middle;
    margin: -0.25em 0.25em 0 0;
}

.zmg_download a {
    font-size: 2em;
    letter-spacing: -2px;
}

.zmg_img_download {
    border-width: 0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.zmg_img_100 {
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px 10px 5px 0 !important;
}

.zmg_img_140 {
    float: left;
    width: 140px;
    height: 140px;
    margin: 5px 10px 0 0 !important;
}

.zmg_img_50 {
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 0 !important;
}

.zmg_img_big {
    margin: 1em 0 !important;
    width: 100%;
    max-width: 640px;
}

.zmg_img_small {
    margin: 1em 1em 1em 0 !important;
}

/****************************** Related Games *********************************/
.zmg_relgames {
    margin: 0 0 0 -12px;
    position: relative;
    display: inline-block;
    clear: both;
}

.zmg_relgames:after {
    content: '';
    display: block;
    clear: both;
}

.zmg_relgames .zmg_relgame_container {
    position: relative;
    float: left;
    display: inline;
    overflow: hidden;
    margin: 0 0 0 12px;
    width: 50px;
    min-width: 65px;
}

.zmg_relgames .zmg_relgame_container .zmg_relgame_item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 9px;
    text-align: left;
}

.zmg_relgames .zmg_relgame_container .zmg_relgame_item a {
    height: 40px;
    display: block;
}

.zmg_relgames .zmg_relgame_container .zmg_relgame_item img {
    width: 50px;
    margin: 0;
}

.zmg_relgames .zmg_relgame_container .zmg_relgame_min {
    margin: 0 0 50px 0;
    height: 70px;
    width: 50px;
}
